#!/usr/bin/env python
PACKAGE = "lidar_image_collector"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 图像配置
gen.add("image_rows", int_t, 0, "Image rows (height)", 960, 100, 2000)
gen.add("image_cols", int_t, 0, "Image columns (width)", 960, 100, 2000)
gen.add("map_width", double_t, 0, "Map width in meters", 10.0, 1.0, 50.0)
gen.add("map_height", double_t, 0, "Map height in meters", 5.0, 1.0, 50.0)
gen.add("resolution", double_t, 0, "Map resolution (meters per pixel)", 0.01, 0.001, 0.1)

# 点云过滤
gen.add("min_x", double_t, 0, "Minimum X value", -5.0, -50.0, 50.0)
gen.add("max_x", double_t, 0, "Maximum X value", 5.0, -50.0, 50.0)
gen.add("min_y", double_t, 0, "Minimum Y value", -2.5, -50.0, 50.0)
gen.add("max_y", double_t, 0, "Maximum Y value", 2.5, -50.0, 50.0)
gen.add("min_z", double_t, 0, "Minimum Z value", -1.0, -10.0, 10.0)
gen.add("max_z", double_t, 0, "Maximum Z value", 2.0, -10.0, 10.0)

# 图像处理
gen.add("point_intensity", int_t, 0, "Point intensity value (0-255)", 255, 0, 255)
gen.add("apply_blur", bool_t, 0, "Apply Gaussian blur to image", False)
gen.add("blur_kernel_size", int_t, 0, "Blur kernel size (must be odd)", 3, 1, 15)

exit(gen.generate(PACKAGE, "lidar_image_collector", "LidarImageCollector"))
